
<form method="post" action="/addyorum">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Yorum yap" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Yorum Yap</label>
    </div>

    <br />
    <button class="btn-success">Gönder</button>
</form>
